body{
    color:black;
    background-color: lightblue;
}

.container{
    display:flex;
    width: 100%;
}

.row{
    flex-direction: row;
    display:flex;
    width: 100%;
    height: 100%;
}

.col{
    flex-direction: column;
    display:flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.a{
    border-radius: 2vh;
    height: 3vh;
    text-decoration: none;
    width: 100%;
}

p{
    font-size: 3vh;
    text-align: center;
    width: 25%;
    background-color: white;
    border: 3px solid black;
    color: black;
    font-weight: bold;
    text-decoration: none;
}