body{
    color:black;
    background-color: lightblue;
}

.container{
    display:flex;
    width: 100%;
}

.row{
    flex-direction: row;
    display:flex;
    justify-content: center;
    width: 100%;
}

.col{
    flex-direction: column;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
}

.a{
    background-color: white;
    border: 3px solid black;
    border-radius: 2vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 30vh;
    margin: 2vh;
    text-decoration: none;
}

.p{
    font-size: 3vh;
    font-weight: bold;
}